{{ "<!-- Diversity -->" | safeHTML }}
<section id="diversity" {{ if .Site.Params.diversity.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Evento paralelo: SQL Saturday</h2>
      </div>
      <div class="col-lg-12 text-center">
          <h4 class="section-heading">
          </h4>
      </div>
      <div align="center">
        <p style="font-size:18px">
          Este año estaremos en paralelo al <a href="https://www.sqlsaturday.com/964/eventhome.aspx">SQL Saturday</a>, por lo que con tu entrada podrás participar en ambos eventos.
        </p>
      </div>
    </div>
  </div>
</section>
